{% extends 'layouts/base.html' %}

{% block title %}
Feels Analysis - A project by /bruno207
{% endblock %}


{% block content %}
<br />
<h2>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-music fa-stack-1x fa-inverse"></i>
  </span>
   Feels Analyst:</h2>
  <h4>Determining a countries moods based off of popular song lyrics</h4>
<legend></legend>

<br />

<h4>Overall the United States is: Feelin "Pretty {{ data2 }}"
  {% if data2 == "Neutral" %}
    <i class="fa fa-lg fa-meh-o"></i></h4>
  {% elif data2 == "Positive" %}
    <i class="fa fa-lg fa-smile-o"></i></h4>
  {% else %}
    <i class="fa fa-lg fa-frown-o"></i></h4>
  {% endif %}
<br />

<h4>5 Random Top Tracks(from Top 100) in the United States:</h4>

<table class="table table-striped">
  <tr>
    <th scope="row"></th>
    <td><strong>Track title</strong></td>
    <td><strong>Artist</strong></td>
    <td><strong>Sentiment Analysis: (plus value)</strong></td>
  </tr>
  {% for track in data %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ track.track_name }}</td>
    <td>{{ track.artist }}</td>
    <td>{{ track.mood.0 }}: {{ track.mood.1 }}</td>
  </tr>
  {% endfor %}
</table>



{% endblock %}
